<!--Navbar-->
<nav class = "navbar navbar-expand-lg navbar-dark bg-dark"> 
  <a class="navbar-brand" href="#"> 
    NEJ 
  </a> 

  <button class = "navbar-toggler" type = "bouton"> 
    <span class = "icône-navbar-toggler"> </span> 
  </button> 


  <div class = "effondrement navbar-collapse"> 
    <ul class = "navbar-nav mr-auto "> 
      <li class =" élément-nav "> 
        <a class="nav-link" href="#"> S'inscrire </a> 
      </li> 

      <li class =" élément-nav "> 
        <a class = "nav-link" href = "# "> S'identifier </a> 
      </li> 
    </ul> 
  </div> 
</nav>
<!--carroussel-->