<!--Navbar-->
<div class="container-fluid">
<nav class="navbar navbar-expand-lg navbar-dark bg-dark">
  <a class="navbar-brand" [routerLink]="['']">
    NEJ
  </a>

  <button class="navbar-toggler" type="bouton">
    <span class="icône-navbar-toggler"> </span>
  </button>


  <div *ngIf="loginService.user; then thenBlock; else elseBlock" class="effondrement navbar-collapse"></div>
    <ng-template #thenBlock>
        <ul class="navbar-nav mr-auto ">
          <li class=" élément-nav ">
            <a class="nav-link" [routerLink]="['']">Accueil</a>
          </li>
          <li class=" élément-nav ">
            <a class="nav-link" [routerLink]="['userAccount']">Mon compte</a>
          </li>
          <li class=" élément-nav ">
            <a class="nav-link" [routerLink]="['']" (click)="logout()"> Se déconnecter</a>
          </li>
        </ul>
        <p>Bonjour!</p>
    </ng-template>
    <ng-template #elseBlock>
        <ul class="navbar-nav mr-auto ">
          <li class=" élément-nav ">
            <a class="nav-link" [routerLink]="[]"> S'inscrire </a>
          </li>
          <li class=" élément-nav ">
            <a class="nav-link" [routerLink]="['login']"> Se connecter</a>
          </li>
        </ul>
    </ng-template>

</nav>
<!--carroussel-->


  <ngb-carousel>
    <ng-template ngbSlide>
      <img src="../assets/images/banner1.jpg" class="d-block" alt="Random first slide">
      <div class="carousel-caption">
      </div>
    </ng-template>
    <ng-template ngbSlide>
      <img src="../assets/images/banner2.jpg" class="d-block" alt="Random second slide">
      <div class="carousel-caption">
      </div>
    </ng-template>
    <ng-template ngbSlide>
      <img src="../assets/images/banner3.jpg" class="d-block" alt="Random third slide">
      <div class="carousel-caption">
      </div>
    </ng-template>
  </ngb-carousel>
</div>



