<div class="container text-center text-md-left ">


  <!-- Grid row -->
  <div class="row">

    <!-- Grid column -->
    <div class="col-md-4 mt-md-0 mt-3 ">

      <!-- Content -->
      <h5 class="text-uppercase3">Moyens de paiements</h5>

      <img src="assets/images/Payement.png" class="pay" alt="imgpay">

    </div>
    <!-- Grid column -->

    <hr class="clearfix w-100 d-md-none pb-3">

    <!-- Grid column -->
    <div class="col-md-4 col-sm-12  mb-3">

      <!-- Links -->
      <h5 class="text-uppercase4 text-center">Plan du site</h5>

      <ul class="list-unstyled position1 text-center">
        <li>
          <a href="">Home</a>
        </li>
        <li>
          <a href="">Admin</a>
        </li>
        <li>
          <a href="">Reservation</a>
        </li>
          <a routerLink="etablishment">Etablishment</a>
        <li>
          <a routerLink='booking'>Booking</a>
        </li>
        <li>
          <a routerLink="/profil">Profil</a>
        </li>
        <li>
          <a href="https://fr.wikipedia.org/wiki/Conditions_g%C3%A9n%C3%A9rales_d%27utilisation">CGU</a>
        </li>
        <li>
          <a href="https://fr.wikipedia.org/wiki/Conditions_g%C3%A9n%C3%A9rales_de_vente">CGV</a>
        </li>
      </ul>

      <div class="text-center">
      </div>
    </div>
    <!-- Grid column -->
    <hr class="clearfix w-100 d-md-none pb-3">
    <!-- Grid column -->

    <div class="col-md-4 mb-md-1 mb-3 text-center">

      <!-- Links -->
      <h5 class="text-uppercase1 text-center">Contact</h5>

      <ul class="list-unstyled position text-center">
        <li>Conseil et commande téléphone.<br>Du lundi au vendredi de 9h à 19h,<br> le samedi de 10h
          à
          18h.<br>
          Numéro Tél. 02 40 38 00 00
        </li>
      </ul>
      <img src="assets/images/Reseau.png" class="social" alt="imgsocial">
    </div>

  </div>
  <!-- Grid row -->
</div>
<!-- Footer Links -->

<!-- Copyright -->
<div class="footer-copyright text-center py-3">© 2019 Copyright:
  <a href="https://mdbootstrap.com/education/bootstrap/">NEJ</a>
</div>
<!-- Copyright -->
