<div class="container">
  <h1 class="mt-4">Establishment</h1>
  <div class="mt-3">
    <form (ngSubmit)="onSubmit()" [formGroup]="etablishmentForm" #myForm="ngForm">
      <label for="name">
        <p class="label-txt">Name</p>
        <input type="text" id="name" class="input" formControlName="name" />
        <div class="line-box">
          <div class="line"></div>
        </div>
      </label>

      <label for="profile">
        <p class="label-txt">Profile</p>
        <input type="text" id="profile" class="input" formControlName="profile" />
        <div class="line-box">
          <div class="line"></div>
        </div>
      </label>

      <label for="description">
        <p class="label-txt">Description</p>
        <input type="text" id="description" class="input" formControlName="description" />
        <div class="line-box">
          <div class="line"></div>
        </div>
      </label>

      <h3>Address</h3>

      <div formGroupName="address">
        <label for="street">
          <p class="label-txt">Street</p>
          <input type="text" class="input" id="name" formControlName="street" />
          <div class="line-box">
            <div class="line"></div>
          </div>
        </label>

        <label for="Zipcode">
          <p class="label-txt">zipCode</p>
          <input type="text" class="input" id="Zipcode" formControlName="zipCode" />
          <div class="line-box">
            <div class="line"></div>
          </div>
        </label>

        <label for="city">
          <p class="label-txt">City</p>
          <input type="text" class="input" id="City" formControlName="city" />
          <div class="line-box">
            <div class="line"></div>
          </div>
        </label>

        <label for="number">
          <p class="label-txt">Number</p>
          <input type=" text" class="input" id="Number" formControlName="number" />
          <div class="line-box">
            <div class="line"></div>
          </div>
        </label>
      </div>

      <h3>Contact</h3>

      <div formGroupName="contact">
        <label for="phone">
          <p class="label-txt">Phone</p>
          <input type="text" class="input" id="phone" formControlName="phone" />
          <div class="line-box">
            <div class="line"></div>
          </div>
        </label>

        <label for="email">
          <p class="label-txt">Email</p>
          <input type="text" class="input" id="email" formControlName="email" />
          <div class="line-box">
            <div class="line"></div>
          </div>
        </label>
      </div>

      <h3>Networks</h3>

      <button (click)="addNetworks()">addNetworks</button>

      <div formArrayName="networks" *ngFor="let networks of etablishmentForm.controls.networks.controls; let i = index">
        <ng-container [formGroupName]="i">
          <label for="name">
            <p class="label-txt">Name</p>
          <input type="text" class="input" id="name"formControlName="name">
          <div class="line-box">
            <div class="line"></div>
          </div>
          
          </label>
          <label for="link">
            <p class="label-txt">Link</p>
          <input type="text" class="input" id="link" formControlName="link">
          <div class="line-box">
            <div class="line"></div>
          </div>
        </label>
        <button (click)="deleteNetworks(i)">deleteNetworks</button>
        </ng-container>
      </div>

      <h3>Medias</h3>

      <button (click)="addMedias()">AddMedias</button>

      <div formArrayName="medias" *ngFor="let medias of etablishmentForm.controls.medias.controls; let i = index">
        <ng-container [formGroupName]="i">
          <label for="Url">
            <p class="label-txt">Url</p>
          <input type="url" class="input" id="url" formControlName="url">
          <div class="line-box">
            <div class="line"></div>
          </div>
        </label>
        <label for="Order">
          <p class="label-txt">Order</p>
          <input type="text" class="input" id="order" formControlName="order">
          <div class="line-box">
            <div class="line"></div>
          </div>
        </label>
        <button (click)="deleteMedias(i)">deleteMedias</button>
        </ng-container>
      </div>
      <div class="d-flex justify-content-center mb-5">
        <button class="saveBtn" type="submit">Sauvegarder</button>
        <button class="resetBtn" type="button" (click)="deleteEtablishment()">Supprimer</button>
      </div>
    </form>
  </div>
</div>
