<div class="container">
    <div class="alert alert-secondary" role="alert">
        AJOUTER UN ETABLISSEMENT
      </div>
    <div class="mt-3">
      <div class="d-flex justify-content-center">
        <div class="card mb-4 text-white bg-dark col-md-4">
          <a class="button plus" routerLink="/etablishment">
            <span class="bg" id="plus"></span>
            <span class="symbol"></span>
          </a>
          <div class="card-body">
            <h5 class="card-title text-center">Nouvel établissement</h5>
          </div>
        </div>
      </div>
    </div>
  </div>

