<div class="container">
    <h1 class="mt-4 text-center">CREER UN ETABLISSEMENT</h1>
    <div class="mt-3">
      <div class="d-flex justify-content-center">
        <div class="card mb-4 text-white bg-dark col-md-4">
          <img class="card-img-top"
            src="https://conseils.pmd-medical.com/hs-fs/hubfs/Plus-Sign.png?width=706&name=Plus-Sign.png"
            alt="establishment">
          <div class="card-body">
            <h5 class="card-title text-center">Nouvel établissement</h5>
            <div class="bouton row">
              <a routerLink="etablishment" class="btn btn-outline-light btn-sm col-md-4 ">Enregistrer un nouvel
                établissement</a>

            </div>
          </div>
        </div>
      </div>
    </div>
  </div>