input{
   border-right: none;
   border-radius: 15px 0px 0px 15px;
} 

.typeBtn{
border-left: none;
border-right: none;
border-radius: 0px;
}

.searchBtn{
   border-left: none;
   border-radius: 0px 15px 15px 0px;
}

@media(max-width:575px){
   input{
      border-left: none;
      border-right: none;
      border-radius: 0px;
   } 
   
   .typeBtn{
   border-left: none;
   border-right: none;
   border-radius: 0px;
   }
   
   .searchBtn{
      border-left: none;
      border-right: none;
      border-radius: 0px;
   }
}