.card {
margin: 3%;
}

img {
   object-fit: none; 
   object-position: center; 
   width: 100%;
   min-height: 15vw;
   margin-bottom: 1rem;
}

.title {
   height: 50px;
}

input{
   border-right: none;
   border-radius: 15px 0px 0px 15px;
} 

.typeBtn{
   border-left: none;
   border-radius: 0px 15px 15px 0px;
}