
<div class="row card-group">
<div class="col-4" *ngFor="let establishment of establishmentsList"
>
<div
   class="card"
>
   <img
      class="card-img-top "
      src="{{
      establishment.medias[0]?.url
         ? establishment.medias[0]?.url
         : 'https://loremflickr.com/640/480/bar'
      }}"
      alt="Card image cap"
   />
   <div class="card-body">
      <h5 class="card-title">{{ establishment.name }}</h5>
      <p class="card-text text-truncate">{{ establishment.description }}</p>
      <button class="btn btn-lg btn-outline-primary" (click)="open(content)">Launch demo modal</button>
   </div>

</div>

<ng-template #content let-modal>
   <div class="modal-header">
     <h4 class="modal-title" id="modal-basic-title">{{ establishment.name }}</h4>
     <button type="button" class="close" aria-label="Close" (click)="modal.dismiss('Cross click')">
       <span aria-hidden="true">&times;</span>
     </button>
   </div>
   <div class="modal-body">
      <p class="card-text">{{ establishment.description }}</p>
   </div>
   <div class="modal-footer">
      <a
      routerLink="etablishment/{{ establishment._id }}/"
      (click)="modal.close()"
      class="btn btn-sm"
      >Réserver</a>
      
   </div>
 </ng-template>
 
</div>
</div>

