<div class="container">
<div class="card-deck">
    <div class="card m-4 border border-secondary border border-secondary">
      <img src="https://images.freeimages.com/images/large-previews/b89/irish-pub-1231950.jpg" class="card-img-top" alt="...">
      <div class="card-body">
        <h5 class="card-title">Card 1</h5>
        <p class="card-text">Description de l'établissment</p>
      </div>
      <button type="submit" class="btn btn-outline-secondary">Plus d'infos</button>
    </div>
    <div class="card m-4 border border-secondary">
      <img src="https://images.freeimages.com/images/large-previews/00a/english-town-pub-1565179.jpg" class="card-img-top" alt="...">
      <div class="card-body">
        <h5 class="card-title">Card 2</h5>
        <p class="card-text">Description de l'établissment</p>
      </div>
      <button type="submit" class="btn btn-outline-secondary">Plus d'infos</button>
    </div>
    <div class="card m-4 border border-secondary">
      <img src="https://images.freeimages.com/images/large-previews/f06/irish-pub-1233434.jpg" class="card-img-top" alt="...">
      <div class="card-body">
        <h5 class="card-title">Card 3</h5>
        <p class="card-text">Description de l'établissment</p>
      </div>
      <button type="submit" class="btn btn-outline-secondary">Plus d'infos</button>
    </div>
  </div>
  <div class="card-deck">
      <div class="card m-4 border border-secondary">
        <img src="https://images.freeimages.com/images/large-previews/8d4/restaurant-1219124.jpg" class="card-img-top" alt="...">
        <div class="card-body">
          <h5 class="card-title">Card 1</h5>
          <p class="card-text">Description de l'établissment</p>
        </div>
        <button type="submit" class="btn btn-outline-secondary">Plus d'infos</button>
      </div>
      <div class="card m-4 border border-secondary">
        <img src="https://images.freeimages.com/images/large-previews/944/buda-restaurant-1223975.jpg" class="card-img-top" alt="...">
        <div class="card-body">
          <h5 class="card-title">Card 2</h5>
          <p class="card-text">Description de l'établissment</p>
        </div>
        <button type="submit" class="btn btn-outline-secondary">Plus d'infos</button>
      </div>
      <div class="card m-4 border border-secondary">
        <img src="https://images.freeimages.com/images/large-previews/8d4/restaurant-1219124.jpg" class="card-img-top" alt="...">
        <div class="card-body">
          <h5 class="card-title">Card 3</h5>
          <p class="card-text">Description de l'établissment</p>
        </div>
        <button type="submit" class="btn btn-outline-secondary">Plus d'infos</button>
      </div>
    </div>
</div>