<div class="container mb-5">
  <div class="row">
    <div class="col-4 offset-1"> 
      <div class="card" style="width: 30rem;">
        <img src="/assets/images/profil.jpg" class="card-img-top" alt="profil">
        <div class="card-body">
          <h5 class="card-title">Mon profil</h5>
          <a class="btn btn-primary" routerLink="/profile">Voir</a>
        </div>
      </div>
    </div>
    <div class="col-4 offset-2">
      <div class="card" style="width: 30rem;">
        <img src="/assets/images/house.jpg" class="card-img-top" alt="house">
        <div class="card-body">
          <h5 class="card-title">Mes établissements</h5>
          <a class="btn btn-primary" routerLink="/establishment-profile">Voir</a>
        </div>
      </div>
    </div>      
  </div>
</div>