<div class="container mb-5 mt-5">

  <div class="row">
    
      <div class="card col-5">
        <img src="/assets/images/profil.jpg" class="card-img-top" alt="profil">
        <div class="card-body">
          <h5 class="card-title text-center">Mon profil</h5>
          <div class="text-center">
          <a class="btn btn-primary" routerLink="/userAccount/profile">Voir</a>
        </div>
        </div>
      </div>
    
      <div class="col-2">
      </div>
      <div class="card col-5">
        <img src="/assets/images/house.jpg" class="card-img-top" alt="house">
        <div class="card-body">
          <h5 class="card-title text-center">Mes établissements</h5>
          <div class="text-center">
          <a class="btn btn-primary" routerLink="/userAccount/establishment-profile">Voir</a>
        </div>
        </div>
      </div>
        
  </div>

</div>