<div class="container">

  <h2 class="mt-4">MON PROFIL</h2>
  <div>
    <button class="backBtn" type="button" routerLink="/userAccount">Retour</button>
  </div>

  <form (ngSubmit)="onSubmit()" [formGroup]="profileForm" #myForm="ngForm">
    <div class="row">

      <label class="col-6">
        <p class="label-txt">Prénom</p>
        <input type="text" class="input" formControlName="firstName" />
        <div class="line-box">
          <div class="line"></div>
        </div>
      </label>

      <label class="col-6">
        <p class="label-txt">Nom de famille</p>
        <input type="text" class="input" formControlName="lastName" />
        <div class="line-box">
          <div class="line"></div>
        </div>
      </label>
    </div>

    <div class="row">

      <label class="col-4">
        <p class="label-txt">Siret:</p>
        <input type="text" class="input" formControlName="siret" />
        <div class="line-box">
          <div class="line"></div>
        </div>
      </label>

      <label class="col-4">
        <p class="label-txt">Siren:</p>
        <input type="text" class="input" formControlName="siren" />
        <div class="line-box">
          <div class="line"></div>
        </div>
      </label>

      <label class="col-4">
        <p class="label-txt">clé</p>
        <input type="text" class="input" formControlName="key" />
        <div class="line-box">
          <div class="line"></div>
        </div>
      </label>

    </div>

    <h3>Mon adresse</h3>

    <div formGroupName="address">

      <label for="street">
        <p class="label-txt">Rue</p>
        <input type="text" class="input" formControlName="street" />
        <div class="line-box">
          <div class="line"></div>
        </div>
      </label>

      <div class="row">
        <label class="col-4" for="zipCode">
          <p class="label-txt">Code Postale</p>
          <input type="text" class="input" formControlName="zipCode" />
          <div class="line-box">
            <div class="line"></div>
          </div>
        </label>

        <label class="col-4" for="city">
          <p class="label-txt">Ville</p>
          <input type="text" class="input" formControlName="city" />
          <div class="line-box">
            <div class="line"></div>
          </div>
        </label>

        <label class="col-4" for="number">
          <p class="label-txt">Numéro</p>
          <input type="text" class="input" formControlName="number" />
          <div class="line-box">
            <div class="line"></div>
          </div>
        </label>
      </div>
    </div>

    <h3>Contact</h3>

    <div formGroupName="contact" class="row">

      <label class="col-4" for="fax">
        <p class="label-txt">Fax:</p>
        <input type="text" class="input" formControlName="fax" />
        <div class="line-box">
          <div class="line"></div>
        </div>
      </label>

      <label class="col-4" for="phone">
        <p class="label-txt">Telephone:</p>
        <input type="text" class="input" formControlName="phone" />
        <div class="line-box">
          <div class="line"></div>
        </div>
      </label>

      <label class="col-4" for="email">
        <p class="label-txt">Email:</p>
        <input type="email" class="input" formControlName="email" />
        <div class="line-box">
          <div class="line"></div>
        </div>
      </label>
    </div>


    <div class="d-flex justify-content-around mb-5">
      <button class="saveBtn" type="submit">Sauvegarder</button>
      <button class="backBtn" type="button" routerLink="/userAccount">Retour</button>
    </div>
  </form>


</div>
