<div class="container">
  <div class="row">
    <div class="article">
      <div class="card" style="width: 20rem;">
        <img src="/assets/images/profil.jpg" class="card-img-top" alt="profil">
        <div class="card-body">
          <h5 class="card-title">Mon profil</h5>
          <a class="btn btn-primary" routerLink="/coordonnees">Voir</a>
        </div>
      </div>
    </div>
    <div class="article">
      <div class="card" style="width: 20rem;">
        <img src="/assets/images/house.jpg" class="card-img-top" alt="house">
        <div class="card-body">
          <h5 class="card-title">Mes établissements</h5>
          <a href="#" class="btn btn-primary">Voir</a>
        </div>
      </div>
    </div>    
  </div>
</div>
