.alert {
  font-size: 2em;
}

.row {
  display: flex;
  justify-content: center;
}

.bouton {
  display: flex;
  justify-content: space-around;
}

.backBtn:hover {
  background: yellowgreen;
  color: #ffffff;
}

.icon {
  width: 22px;
  height: 24px;
}

.sort{
  width: 10px;
  height: 10px;
}