
  <button class="backBtn" type="button" routerLink="/userAccount">Retour</button>
  <div class="d-flex justify-content-around mt-5 mb-1">
    <button class="saveBtn" type="button" (click)="showEstablishments()">
      Gérer mes établissements
    </button>
    <button class="saveBtn" type="button" (click)="showBookings()">
      Gérer les réservations en cours
    </button>
  </div>

  <div class="container">
    <div *ngIf="isEstablishmentShow">
      <div class="alert alert-secondary" role="alert">
        MES ETABLISSEMENTS
      </div>
      <div class="row">
      <div *ngFor="let establishment of myEstablishments" class="col-md-4" >
      <app-establishment-card [establishment]="establishment" [admin]="true" (delete)="splice($event)"></app-establishment-card>
  </div>
    </div>
    <app-etablishment-creation></app-etablishment-creation>
  </div>
  <ng-container *ngIf="isBookingsShow" class="col-md-4">
      <app-establishment-bookinglist [bookings]="bookings" [allBookings]="true">
      </app-establishment-bookinglist>
    </ng-container>
    <div class="d-flex justify-content-center">
    <button class="backBtn" type="button" routerLink="/userAccount">
      Retour
    </button>
  </div>
  </div>
